In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv(r"C:\Users\oddoy\Downloads\budget_data.csv")

In [3]:
df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [5]:
total_profit = sum(df['Profit/Losses'])
total_amount= ("$"+str(total_profit))
total_month=len(df["Date"])
monthly_profit_change = []
for i in range(1,len(df["Profit/Losses"])):
    monthly_profit_change.append(int(df["Profit/Losses"][i])-int(df["Profit/Losses"][i-1]))

average_change= round(sum(monthly_profit_change)/len(monthly_profit_change),2)
great_prof=max(monthly_profit_change)
lowest_prof=min(monthly_profit_change)
print(total_amount,total_month,average_change,great_prof,lowest_prof)

$38382578 86 -2315.12 1926159 -2196167

In [14]:
print("Financial Analysis")
print("----------------------------")
print("Total Months: " + str(total_month))
print("Total: " + str(total_amount))
print("Average  Change: $" +str(average_change))
print("Greatest Increase in Profits: Feb-2012 ($"+ str(great_prof) +")")
print("Greatest Decrease in Profits: Sep-2013 ($"+ str(lowest_prof) +")")

Financial Analysis
----------------------------
Total Months: 86
Total: $38382578
Average  Change: $-2315.12
Greatest Increase in Profits: Feb-2012 ($1926159)
Greatest Decrease in Profits: Sep-2013 ($-2196167)